body {
    margin-bottom: 100px;
    font-family: "brandon-grotesque";
}

main {
  margin: auto;
  /*width: 80%;*/
}

address {
  display: inline-block;
}

img {
    width: 100%;
    height: auto;
}

article {
    padding: 10px;
}

h1 {
    font-weight: 700;
    letter-spacing: .05em;
}
p {
    font-weight: 300;
    letter-spacing: .06em;
    font-size: 1.3em;
}

a:hover {
    text-decoration: none;
}

.interestsIcons{
    list-style: none;
    display:flex;
    padding: 10px;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    width: 90%;
    margin: 0 auto;
}

.template {
  display: none;
}

.draft {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
