.container {
    width: 85%;
    margin: 0 auto;
}

.interestsIcons{
    list-style: none;
    display:flex;
    padding: 10px;
}

.row {
    width: 90%;
    margin: 0 auto;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
