h1 {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #605f5d;
    font-size: 35px;
}
h1:hover {
    color: #8f8e8b;
}

h2 {
    font-weight: 300;
}
h3 {
    font-weight: 300;
    letter-spacing: .02em;
}

p {
    font-weight: 300;
    letter-spacing: .06em;
    line-height: 1.42857143;
    font-size: 19px;
    text-align: justify;
}

a:hover {
    text-decoration: none;
}
